@import '~antd/dist/antd.css';

.App {
  /* text-align: center; */
}
.sider{
  min-height: 100vh;
}

#components-layout-demo-responsive .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}