<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>购物车</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    #app {
      width: 400px;
      margin: 50px auto;
    }

    ul {
      margin-top: 10px;
      border-bottom: 1px solid #000;
    }

    .list {
      height: 40px;
      line-height: 40px;
      display: flex;
      justify-content: space-between;
      background: pink;
      margin-bottom: 10px;
      padding: 0 10px;
    }

    .active {
      background: red;
    }
  </style>
</head>

<body>
  <div id="app">
    <h1>商品列表</h1>
    <input type="text" v-model="aa" >
    <ul>
      <li :class="[ 'list', item.isActive? 'active' : '' ]" v-for="item in list" @click="change(item)">
        <span> {{item.name}} </span>
        <span> {{item.price}} </span>
      </li>
    </ul>
    <!-- 普通属性 -->
    <!-- <p>总价：{{total}} </p> -->

    <!-- 方法调用 -->
    <p>总价：{{ sum() }} </p>

    <!-- 计算属性 -->
    <p>总价：{{ total }} </p>

    <!-- 
      计算属性和方法调用的区别：
        方法调用：每当触发重新渲染时(只要data当中的数据改变),方法就会被调用；
        计算属性：只在相关响应式依赖发生改变时它们才会重新求值;
    -->

  </div>
  <script src="./vue.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        aa:'',
        // total: 0,
        list: [{
            name: '衬衫',
            price: 999,
            isActive: false,
          },
          {
            name: '电脑',
            price: 13800,
            isActive: false,
          },
          {
            name: '裙子',
            price: 1999,
            isActive: false,
          },
          {
            name: '裤子',
            price: 888,
            isActive: false,
          },
        ]
      },
      computed: {
        total() {
          let count = 0;
          this.list.forEach((obj, index) => {
            if (obj.isActive) {
              count += obj.price;
            }
          })
          // this.total = count;
          console.log(888);
          return count;
        }
      },
      methods: {
        change(item) {
          item.isActive = !item.isActive;
          // this.sum();
        },
        sum() {
          let count = 0;
          this.list.forEach((obj, index) => {
            if (obj.isActive) {
              count += obj.price;
            }
          })
          // this.total = count;
          console.log(666);
          return count;
        }
      }
    })
  </script>
</body>

</html>